body {
    background-color: rgb(125, 75, 39);
}
header {
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 50px;
    margin: 40px;
    background-color: rgb(210, 122, 15);
    font-weight: 900;
}
.p1 {
    font-display: list-item;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    text-align: center;
}
.div1 {display: list-item;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    font-size: larger;
}
section {;
    background-color:  rgb(245, 186, 108);
    border-radius: 10px;
    margin: 30;
}
section:hover { 
    background-color: rgb(249, 204, 150);
    border-radius: 10px;
    margin: 30;
}
